<h2>My PoKedex</h2>


<mat-list>
<div class="mb-2 col-12 col-sm-6 col-md-3">
  <mat-list-item routerLink="/detail/{{pokemon.id}}" *ngFor="let pokemon of (store.state$ | async).pokemons ; last as last">
    <img matListAvatar [src]="pokemon.sprites.front_default" alt="pokemon.name">
    <h3 matLine> {{pokemon.name | uppercase}} </h3>
   
    <p matLine>
      <app-type [types]="pokemon.types" [showLabel]=true ></app-type>
    </p>
    <mat-chip-list>
      <mat-chip routerLink="/detail/{{pokemon.id}}" color="accent" selected>{{pokemon.id}}</mat-chip>
    </mat-chip-list>
  <mat-divider [inset]="true" *ngIf="!last"></mat-divider>

  </mat-list-item>
</div>  
</mat-list>
<button type="button" (click)="morePokemon()">More pok</button>
